#home-grid {
    display: grid;
    width: 70%;
    grid-template-columns: 550px auto;
    grid-template-rows: 35px auto;
    grid-template-areas:
    'filter sidebar'
    'main sidebar';
    grid-gap: 30px;
    margin: 0 auto;
    padding-top: 90px;
}