@font-face {
    font-family: BlackMango;
    src: url(../../assets/fonts/BlackMango/BlackMango-Medium.otf);
  }

#feed-container {
    padding-top: 90px;
    width: 60%;
    margin: 0 auto;
}

#feed-container header{
    text-align: center;
    font-size: 2rem;
    padding: 30px 0;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    width: 100%;
    margin: 0 auto 20px auto;
    font-family: BlackMango;
    border: 1px solid black;
    border-radius: 0.2rem;
}

#home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 35px auto;
    grid-template-areas:
    'filter sidebar'
    'main sidebar';
    grid-gap: 30px ;
    margin: 0 auto;
}