#feed-container {
    padding-top: 90px;
    width: 60%;
    margin: 0 auto;
}

#feed-container header{
    text-align: center;
    font-size: large;
    padding: 30px 0;
    background-color: bisque;
    width: 100%;
    margin: 0 auto 20px auto;
    border: 1px solid gray;
}

#home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 35px auto;
    grid-template-areas:
    'filter sidebar'
    'main sidebar';
    grid-gap: 30px ;
    margin: 0 auto;
}