.filter-bar {
    overflow-x: hidden;
    padding: 5px 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    grid-area: filter;
}

.filter-bar img {
    width: 18px;
    padding-right: 2px;
}

.filter-bar button {
    display: flex;
    align-items: center;
}

