.subreddit-list-container {
    overflow-x: hidden;
    padding: 20px;
    border: 1px solid black;
    grid-area: sidebar;
    height: 800px;
}

.subreddit-list-container h4 {
    padding-bottom: 20px;
}