.search-container {
    position: relative;
    width: 200px;
}

.search-container input {
    border-radius: 2rem;
    border: 1px solid grey;
    background-color: white;
    background-image: url('../../assets/search-24.png');
    background-position: 7px;
    background-repeat: no-repeat;
    background-size: 12px;
    padding: 5px 22px 5px 22px;
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

#clear-button {
  position: absolute;
  right: 2px; 
  top: 2px;
  bottom: 2px;
}