#comment-page {
    width: 70%;
    margin: 0 auto;
    padding-top: 90px;
}

#comment-post {
    width: 70%;
    margin: 0 auto;
}

.comments-container {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.comments-container h3 {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    #comment-page {
        width: 90%;
    }

    #comment-post {
        width: 100%;
    }

    .comments-container {
        width: 100%;
    }
}