.down-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.down-section h6 {
    color: gray;
}

.comment-button {
    display: flex;
    align-items: center;
}

.comment-button img {
    width: 18px;
    padding-right: 2px;
}

.post-container {
    border: 1px solid gray;
    margin-bottom: 20px;
    outline: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post-container img,
.post-container video {
    display: block;
    max-width: 70%;
    height: auto;
    margin: 0 auto;
}

.post-main-text-feed {
    overflow: hidden;
    height: 50px;
}

.post-main-text-comments {
    
}

.post-container {
    overflow-wrap: anywhere;
}

.votes-sidepanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-right: 1px solid gray;
    width: 35px;
}

.votes-sidepanel div {
    padding: 5px 0;
    font-size: 0.7rem;
    width: 35px;
    text-align: center;
}

.post-main {
    padding: 15px;
    width: 100%;
}

.post-main h3 {
    padding: 15px 0;
}